In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "../tennis_predictor/Resources/original_data/match_stats_2017.csv"

In [3]:
stats_df = pd.read_csv(file_path)

In [4]:
stats_df.head()

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,0,2017-339-r975-n409,/en/scores/2017/339/MS004/match-stats,02:21:00,141,23,3,62,97,50,...,19,35,1,7,14,15,31,97,84,181
1,0,2017-339-d875-n552,/en/scores/2017/339/MS001/match-stats,01:49:00,109,7,2,52,77,41,...,13,25,2,7,12,13,24,77,69,146
2,0,2017-339-d875-r975,/en/scores/2017/339/MS002/match-stats,01:28:00,88,4,1,36,58,27,...,4,22,0,0,10,10,13,58,53,119
3,0,2017-339-n552-w367,/en/scores/2017/339/MS003/match-stats,01:42:00,102,1,1,56,77,37,...,7,21,1,5,10,11,26,77,63,138
4,0,2017-339-d875-tb69,/en/scores/2017/339/MS005/match-stats,02:05:00,125,3,3,52,94,42,...,19,42,1,14,14,14,29,94,82,176

In [5]:
stats_df["winner_id"] = 1

In [6]:
stats_df["loser_id"] = 2

In [7]:
new_df = stats_df.drop(["winner_total_points_won","loser_total_points_won","winner_total_points_total"], axis=1)

In [8]:
new_df.head()

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_total,winner_id,loser_id
0,0,2017-339-r975-n409,/en/scores/2017/339/MS004/match-stats,02:21:00,141,23,3,62,97,50,...,35,1,7,14,15,31,97,181,1,2
1,0,2017-339-d875-n552,/en/scores/2017/339/MS001/match-stats,01:49:00,109,7,2,52,77,41,...,25,2,7,12,13,24,77,146,1,2
2,0,2017-339-d875-r975,/en/scores/2017/339/MS002/match-stats,01:28:00,88,4,1,36,58,27,...,22,0,0,10,10,13,58,119,1,2
3,0,2017-339-n552-w367,/en/scores/2017/339/MS003/match-stats,01:42:00,102,1,1,56,77,37,...,21,1,5,10,11,26,77,138,1,2
4,0,2017-339-d875-tb69,/en/scores/2017/339/MS005/match-stats,02:05:00,125,3,3,52,94,42,...,42,1,14,14,14,29,94,176,1,2

In [9]:
stats_df["outcome"] = np.where(stats_df["winner_total_points_won"] > stats_df["loser_total_points_won"], 1, 2)

In [10]:
y = stats_df["outcome"]

In [11]:
X = stats_df.drop(["outcome","match_id","match_time"], axis=1)

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y, random_state=1, stratify=y)

In [13]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
   max_iter=200,
   random_state=1)

In [14]:
classifier.fit(X_train, y_train)

ValueError: could not convert string to float: '/en/scores/2017/404/MS049/match-stats'

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

# Reading in all csv's

In [15]:
stats_2017_df = pd.read_csv(file_path)

In [16]:
stats_2017_df.head()

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,0,2017-339-r975-n409,/en/scores/2017/339/MS004/match-stats,02:21:00,141,23,3,62,97,50,...,19,35,1,7,14,15,31,97,84,181
1,0,2017-339-d875-n552,/en/scores/2017/339/MS001/match-stats,01:49:00,109,7,2,52,77,41,...,13,25,2,7,12,13,24,77,69,146
2,0,2017-339-d875-r975,/en/scores/2017/339/MS002/match-stats,01:28:00,88,4,1,36,58,27,...,4,22,0,0,10,10,13,58,53,119
3,0,2017-339-n552-w367,/en/scores/2017/339/MS003/match-stats,01:42:00,102,1,1,56,77,37,...,7,21,1,5,10,11,26,77,63,138
4,0,2017-339-d875-tb69,/en/scores/2017/339/MS005/match-stats,02:05:00,125,3,3,52,94,42,...,19,42,1,14,14,14,29,94,82,176

In [17]:
scores_2017_df = pd.read_csv("../tennis_predictor/Resources/original_data/match_scores_2017.csv")

In [18]:
scores_2017_df.head()

,tourney_year_id,tourney_order,tourney_slug,tourney_url_suffix,tourney_round_name,round_order,match_order,winner_name,winner_player_id,winner_slug,...,loser_seed,match_score_tiebreaks,winner_sets_won,loser_sets_won,winner_games_won,loser_games_won,winner_tiebreaks_won,loser_tiebreaks_won,match_id,match_stats_url_suffix
0,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Finals,1,1,Grigor Dimitrov,d875,grigor-dimitrov,...,3,62 26 63,2,1,14,11,0,0,2017-339-d875-n552,/en/scores/2017/339/MS001/match-stats
1,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Semi-Finals,2,1,Grigor Dimitrov,d875,grigor-dimitrov,...,1,76(7) 62,2,0,13,8,1,0,2017-339-d875-r975,/en/scores/2017/339/MS002/match-stats
2,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Semi-Finals,2,2,Kei Nishikori,n552,kei-nishikori,...,2,76(3) 63,2,0,13,9,1,0,2017-339-n552-w367,/en/scores/2017/339/MS003/match-stats
3,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Quarter-Finals,3,1,Milos Raonic,r975,milos-raonic,...,5,46 63 64,2,1,16,13,0,0,2017-339-r975-n409,/en/scores/2017/339/MS004/match-stats
4,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Quarter-Finals,3,2,Stan Wawrinka,w367,stan-wawrinka,...,NaN,67(2) 64 64,2,1,18,15,0,1,2017-339-w367-e831,/en/scores/2017/339/MS007/match-stats

In [19]:
# Merge 2017 Scores on 2017 Stats Test 1
scores_stats_2017_df = scores_2017_df.merge(stats_2017_df, how='inner', on='match_id')

In [20]:
# Checked merged df
scores_stats_2017_df.head()

,tourney_year_id,tourney_order_x,tourney_slug,tourney_url_suffix,tourney_round_name,round_order,match_order,winner_name,winner_player_id,winner_slug,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Finals,1,1,Grigor Dimitrov,d875,grigor-dimitrov,...,13,25,2,7,12,13,24,77,69,146
1,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Semi-Finals,2,1,Grigor Dimitrov,d875,grigor-dimitrov,...,4,22,0,0,10,10,13,58,53,119
2,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Semi-Finals,2,2,Kei Nishikori,n552,kei-nishikori,...,7,21,1,5,10,11,26,77,63,138
3,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Quarter-Finals,3,1,Milos Raonic,r975,milos-raonic,...,19,35,1,7,14,15,31,97,84,181
4,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Quarter-Finals,3,2,Stan Wawrinka,w367,stan-wawrinka,...,24,52,2,13,16,16,44,119,107,216

In [21]:
# Read in scores and stats from 1991-2016
scores_1991_2016_df = pd.read_csv("../tennis_predictor/Resources/original_data/match_scores_1991-2016.csv")
stats_1991_2016_df = pd.read_csv("../tennis_predictor/Resources/original_data/match_stats_1991-2016.csv")

In [22]:
# Merge 1991-2016 scores and stats
scores_stats_1991_2016_df = scores_1991_2016_df.merge(stats_1991_2016_df, how='inner', on='match_id')

In [23]:
# Check merged df
scores_stats_1991_2016_df.head()

,tourney_year_id,tourney_order_x,tourney_slug,tourney_url_suffix,tourney_round_name,round_order,match_order,winner_name,winner_player_id,winner_slug,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Finals,1,1,Nicklas Kulti,k181,nicklas-kulti,...,9.0,21.0,3.0,5.0,12.0,12.0,22.0,65.0,68.0,148.0
1,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Semi-Finals,2,1,Michael Stich,s351,michael-stich,...,16.0,43.0,1.0,6.0,11.0,11.0,27.0,80.0,74.0,151.0
2,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Semi-Finals,2,2,Nicklas Kulti,k181,nicklas-kulti,...,7.0,19.0,2.0,2.0,11.0,11.0,24.0,65.0,61.0,134.0
3,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Quarter-Finals,3,1,Jim Courier,c243,jim-courier,...,6.0,20.0,1.0,1.0,10.0,11.0,16.0,61.0,56.0,122.0
4,1991-7308,1,adelaide,/en/scores/archive/adelaide/7308/1991/results,Quarter-Finals,3,2,Michael Stich,s351,michael-stich,...,11.0,29.0,2.0,4.0,13.0,14.0,22.0,74.0,73.0,155.0

In [24]:
scores_stats_1991_2016_df.dtypes

tourney_year_id               object
tourney_order_x                int64
tourney_slug                  object
tourney_url_suffix            object
tourney_round_name            object
                              ...
loser_return_games_played    float64
loser_return_points_won      float64
loser_return_points_total    float64
loser_total_points_won       float64
loser_total_points_total     float64
Length: 76, dtype: object

In [25]:
scores_stats_2017_df.dtypes

tourney_year_id              object
tourney_order_x               int64
tourney_slug                 object
tourney_url_suffix           object
tourney_round_name           object
                              ...
loser_return_games_played     int64
loser_return_points_won       int64
loser_return_points_total     int64
loser_total_points_won        int64
loser_total_points_total      int64
Length: 76, dtype: object

In [27]:
# Normalize datatypes from int64 to float64
scores_stats_2017_df.head()

,tourney_year_id,tourney_order_x,tourney_slug,tourney_url_suffix,tourney_round_name,round_order,match_order,winner_name,winner_player_id,winner_slug,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Finals,1,1,Grigor Dimitrov,d875,grigor-dimitrov,...,13,25,2,7,12,13,24,77,69,146
1,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Semi-Finals,2,1,Grigor Dimitrov,d875,grigor-dimitrov,...,4,22,0,0,10,10,13,58,53,119
2,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Semi-Finals,2,2,Kei Nishikori,n552,kei-nishikori,...,7,21,1,5,10,11,26,77,63,138
3,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Quarter-Finals,3,1,Milos Raonic,r975,milos-raonic,...,19,35,1,7,14,15,31,97,84,181
4,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Quarter-Finals,3,2,Stan Wawrinka,w367,stan-wawrinka,...,24,52,2,13,16,16,44,119,107,216

In [31]:
for index in range(scores_stats_2017_df.shape[1]):
    
    print('Column Number : ', index)
     
    # Select column by index position using iloc[]
    columnSeriesObj = scores_stats_2017_df.iloc[:, index]
    print('Column Contents : ', columnSeriesObj.dtype)
    if columnSeriesObj.dtype = int64:

Column Number :  0
Column Contents :  object
Column Number :  1
Column Contents :  int64
Column Number :  2
Column Contents :  object
Column Number :  3
Column Contents :  object
Column Number :  4
Column Contents :  object
Column Number :  5
Column Contents :  int64
Column Number :  6
Column Contents :  int64
Column Number :  7
Column Contents :  object
Column Number :  8
Column Contents :  object
Column Number :  9
Column Contents :  object
Column Number :  10
Column Contents :  object
Column Number :  11
Column Contents :  object
Column Number :  12
Column Contents :  object
Column Number :  13
Column Contents :  object
Column Number :  14
Column Contents :  object
Column Number :  15
Column Contents :  object
Column Number :  16
Column Contents :  int64
Column Number :  17
Column Contents :  int64
Column Number :  18
Column Contents :  int64
Column Number :  19
Column Contents :  int64
Column Number :  20
Column Contents :  int64
Column Number :  21
Column Contents :  int64
Column Number :  22
Column Contents :  object
Column Number :  23
Column Contents :  object
Column Number :  24
Column Contents :  int64
Column Number :  25
Column Contents :  object
Column Number :  26
Column Contents :  object
Column Number :  27
Column Contents :  int64
Column Number :  28
Column Contents :  int64
Column Number :  29
Column Contents :  int64
Column Number :  30
Column Contents :  int64
Column Number :  31
Column Contents :  int64
Column Number :  32
Column Contents :  int64
Column Number :  33
Column Contents :  int64
Column Number :  34
Column Contents :  int64
Column Number :  35
Column Contents :  int64
Column Number :  36
Column Contents :  int64
Column Number :  37
Column Contents :  int64
Column Number :  38
Column Contents :  int64
Column Number :  39
Column Contents :  int64
Column Number :  40
Column Contents :  int64
Column Number :  41
Column Contents :  int64
Column Number :  42
Column Contents :  int64
Column Number :  43
Column Contents :  int64
Column Number :  44
Column Contents :  int64
Column Number :  45
Column Contents :  int64
Column Number :  46
Column Contents :  int64
Column Number :  47
Column Contents :  int64
Column Number :  48
Column Contents :  int64
Column Number :  49
Column Contents :  int64
Column Number :  50
Column Contents :  int64
Column Number :  51
Column Contents :  int64
Column Number :  52
Column Contents :  int64
Column Number :  53
Column Contents :  int64
Column Number :  54
Column Contents :  int64
Column Number :  55
Column Contents :  int64
Column Number :  56
Column Contents :  int64
Column Number :  57
Column Contents :  int64
Column Number :  58
Column Contents :  int64
Column Number :  59
Column Contents :  int64
Column Number :  60
Column Contents :  int64
Column Number :  61
Column Contents :  int64
Column Number :  62
Column Contents :  int64
Column Number :  63
Column Contents :  int64
Column Number :  64
Column Contents :  int64
Column Number :  65
Column Contents :  int64
Column Number :  66
Column Contents :  int64
Column Number :  67
Column Contents :  int64
Column Number :  68
Column Contents :  int64
Column Number :  69
Column Contents :  int64
Column Number :  70
Column Contents :  int64
Column Number :  71
Column Contents :  int64
Column Number :  72
Column Contents :  int64
Column Number :  73
Column Contents :  int64
Column Number :  74
Column Contents :  int64
Column Number :  75
Column Contents :  int64