### To test pgAdmin: used `match_stats_2017.csv`, dropped null values and kept only 8 columns.

In [35]:
import numpy as np
import pandas as pd
#import json

In [37]:
file_path = "/tennis_predictor/Resources/original_data/match_stats_2017.csv"

stats_df = pd.read_csv(file_path)
stats_df.head()

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,0,2017-339-r975-n409,/en/scores/2017/339/MS004/match-stats,02:21:00,141,23,3,62,97,50,...,19,35,1,7,14,15,31,97,84,181
1,0,2017-339-d875-n552,/en/scores/2017/339/MS001/match-stats,01:49:00,109,7,2,52,77,41,...,13,25,2,7,12,13,24,77,69,146
2,0,2017-339-d875-r975,/en/scores/2017/339/MS002/match-stats,01:28:00,88,4,1,36,58,27,...,4,22,0,0,10,10,13,58,53,119
3,0,2017-339-n552-w367,/en/scores/2017/339/MS003/match-stats,01:42:00,102,1,1,56,77,37,...,7,21,1,5,10,11,26,77,63,138
4,0,2017-339-d875-tb69,/en/scores/2017/339/MS005/match-stats,02:05:00,125,3,3,52,94,42,...,19,42,1,14,14,14,29,94,82,176

In [26]:
#stats_df.info()
stats_df.columns

Index(['tourney_order', 'match_id', 'match_stats_url_suffix', 'match_time',
       'match_duration', 'winner_aces', 'winner_double_faults',
       'winner_first_serves_in', 'winner_first_serves_total',
       'winner_first_serve_points_won', 'winner_first_serve_points_total',
       'winner_second_serve_points_won', 'winner_second_serve_points_total',
       'winner_break_points_saved', 'winner_break_points_serve_total',
       'winner_service_points_won', 'winner_service_points_total',
       'winner_first_serve_return_won', 'winner_first_serve_return_total',
       'winner_second_serve_return_won', 'winner_second_serve_return_total',
       'winner_break_points_converted', 'winner_break_points_return_total',
       'winner_service_games_played', 'winner_return_games_played',
       'winner_return_points_won', 'winner_return_points_total',
       'winner_total_points_won', 'winner_total_points_total', 'loser_aces',
       'loser_double_faults', 'loser_first_serves_in',
       'loser_first_serves_total', 'loser_first_serve_points_won',
       'loser_first_serve_points_total', 'loser_second_serve_points_won',
       'loser_second_serve_points_total', 'loser_break_points_saved',
       'loser_break_points_serve_total', 'loser_service_points_won',
       'loser_service_points_total', 'loser_first_serve_return_won',
       'loser_first_serve_return_total', 'loser_second_serve_return_won',
       'loser_second_serve_return_total', 'loser_break_points_converted',
       'loser_break_points_return_total', 'loser_service_games_played',
       'loser_return_games_played', 'loser_return_points_won',
       'loser_return_points_total', 'loser_total_points_won',
       'loser_total_points_total'],
      dtype='object')

In [30]:
#Drop the null columns where all values are null
stats_df = stats_df.dropna(axis='columns', how='all')

# Drop the null rows
stats_df = stats_df.dropna()

In [33]:
# Keep 8 columns for test only
stats_keepCol = stats_df[['match_id','match_time','match_duration','winner_aces','winner_total_points_won','winner_total_points_total','loser_total_points_won','loser_total_points_total']]

stats_keepCol.head()

,match_id,match_time,match_duration,winner_aces,winner_total_points_won,winner_total_points_total,loser_total_points_won,loser_total_points_total
0,2017-339-r975-n409,02:21:00,141,23,97,181,84,181
1,2017-339-d875-n552,01:49:00,109,7,77,146,69,146
2,2017-339-d875-r975,01:28:00,88,4,66,119,53,119
3,2017-339-n552-w367,01:42:00,102,1,75,138,63,138
4,2017-339-d875-tb69,02:05:00,125,3,94,176,82,176

In [38]:

stats_keepCol.to_csv('/tennis_predictor/Resources/clean_data/match_stats_2017_clean.csv')