In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

# First merge score and stats for appropriate years
# Second, append from 1991-2017


# Machine Learning Model
# Mock-up:
## Use only stats and score from 2017
## Features: Height(cm), Weight(kg), First Serve Percentage In%, % Second Serve Won, % Break Points Won(Saved), % Service Game Won(Take Total Service Games Won/Total Service Game Total), % Break Points Converted, Ace-to-DoubleFault Ratio(Take Aces/DoubleFaults), FlagCode(Encoding? PyCountry?) 
## Get rid of total points won for one of the players as they are the same
##

In [2]:
stats_df = pd.read_csv("../original_data/Stats/match_stats_2017.csv")
stats_df.head()

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,0,2017-339-r975-n409,/en/scores/2017/339/MS004/match-stats,02:21:00,141,23,3,62,97,50,...,19,35,1,7,14,15,31,97,84,181
1,0,2017-339-d875-n552,/en/scores/2017/339/MS001/match-stats,01:49:00,109,7,2,52,77,41,...,13,25,2,7,12,13,24,77,69,146
2,0,2017-339-d875-r975,/en/scores/2017/339/MS002/match-stats,01:28:00,88,4,1,36,58,27,...,4,22,0,0,10,10,13,58,53,119
3,0,2017-339-n552-w367,/en/scores/2017/339/MS003/match-stats,01:42:00,102,1,1,56,77,37,...,7,21,1,5,10,11,26,77,63,138
4,0,2017-339-d875-tb69,/en/scores/2017/339/MS005/match-stats,02:05:00,125,3,3,52,94,42,...,19,42,1,14,14,14,29,94,82,176

In [3]:
stats_df = stats_df.dropna()

In [4]:
stats_df = stats_df.drop(columns=['loser_total_points_total'])

In [5]:
stats_df = stats_df.rename(columns={"winner_total_points_total": "total_points_played"})

In [6]:
stats_df["outcome"] = np.where(stats_df["winner_total_points_won"] > stats_df["loser_total_points_won"], 1, 2)

In [7]:
stats_df = stats_df.drop(columns=['tourney_order','match_id','match_stats_url_suffix','match_time'])

In [8]:
stats_df.head()

,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,winner_second_serve_points_total,winner_break_points_saved,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,outcome
0,141,23,3,62,97,50,62,16,35,6,...,19,35,1,7,14,15,31,97,84,1
1,109,7,2,52,77,41,52,12,25,5,...,13,25,2,7,12,13,24,77,69,1
2,88,4,1,36,58,27,36,18,22,0,...,4,22,0,0,10,10,13,58,53,1
3,102,1,1,56,77,37,56,14,21,4,...,7,21,1,5,10,11,26,77,63,1
4,125,3,3,52,94,42,52,23,42,13,...,19,42,1,14,14,14,29,94,82,1

In [9]:
stats_df.dtypes

match_duration                      int64
winner_aces                         int64
winner_double_faults                int64
winner_first_serves_in              int64
winner_first_serves_total           int64
winner_first_serve_points_won       int64
winner_first_serve_points_total     int64
winner_second_serve_points_won      int64
winner_second_serve_points_total    int64
winner_break_points_saved           int64
winner_break_points_serve_total     int64
winner_service_points_won           int64
winner_service_points_total         int64
winner_first_serve_return_won       int64
winner_first_serve_return_total     int64
winner_second_serve_return_won      int64
winner_second_serve_return_total    int64
winner_break_points_converted       int64
winner_break_points_return_total    int64
winner_service_games_played         int64
winner_return_games_played          int64
winner_return_points_won            int64
winner_return_points_total          int64
winner_total_points_won             int64
total_points_played                 int64
loser_aces                          int64
loser_double_faults                 int64
loser_first_serves_in               int64
loser_first_serves_total            int64
loser_first_serve_points_won        int64
loser_first_serve_points_total      int64
loser_second_serve_points_won       int64
loser_second_serve_points_total     int64
loser_break_points_saved            int64
loser_break_points_serve_total      int64
loser_service_points_won            int64
loser_service_points_total          int64
loser_first_serve_return_won        int64
loser_first_serve_return_total      int64
loser_second_serve_return_won       int64
loser_second_serve_return_total     int64
loser_break_points_converted        int64
loser_break_points_return_total     int64
loser_service_games_played          int64
loser_return_games_played           int64
loser_return_points_won             int64
loser_return_points_total           int64
loser_total_points_won              int64
outcome                             int64
dtype: object

In [18]:
X = stats_df.drop(['outcome'], axis=1)
X = X.reshape(X.shape[1:])
#X = pd.get_dummies(X)
y = stats_df["outcome"]

AttributeError: 'DataFrame' object has no attribute 'reshape'

In [11]:
from sklearn.model_selection import train_test_split
# Shuffle and split the dataset into training and testing set.
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    random_state = 1,
                                                    stratify = y)

In [ ]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [15]:
classifier = LogisticRegression(solver='lbfgs', max_iter=5000, random_state=1)
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=5000, random_state=1)

In [16]:
y_pred = classifier.predict(X_train)

In [17]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

ValueError: Found input variables with inconsistent numbers of samples: [953, 2858]

In [ ]:
X_all.shape

In [ ]:
y_all.shape