In [1]:
import numpy as np
import pandas as pd
import os
import glob

# SQLAlchemy
from sqlalchemy import create_engine
from config import db_password

# match_scores

Append: `match_scores_1991-2016_unindexed_csv` and `match_scores_2017`

In [2]:
scores_files = glob.glob("../original_data/Scores/*.csv")
scores_df = pd.concat((pd.read_csv(f) for f in scores_files))
scores_df.sample(10)

,tourney_year_id,tourney_order,tourney_slug,tourney_url_suffix,tourney_round_name,round_order,match_order,winner_name,winner_player_id,winner_slug,...,loser_seed,match_score_tiebreaks,winner_sets_won,loser_sets_won,winner_games_won,loser_games_won,winner_tiebreaks_won,loser_tiebreaks_won,match_id,match_stats_url_suffix
39373,2002-605,67,nitto-atp-finals,/en/scores/archive/nitto-atp-finals/605/2002/r...,Round Robin,3,9,Albert Costa,c378,albert-costa,...,3,36 64 63,2,1,15,13,0,0,2002-605-c378-s741,NaN
62100,2009-1536,29,madrid,/en/scores/archive/madrid/1536/2009/results,Round of 16,4,6,Andy Roddick,r485,andy-roddick,...,10,(W/O),0,0,0,0,0,0,2009-1536-r485-d402,NaN
69354,2011-451,3,doha,/en/scores/archive/doha/451/2011/results,1st Round Qualifying,8,1,Lukas Rosol,r685,lukas-rosol,...,NaN,63 67(2) 63,2,1,18,13,0,1,2011-451-r685-d551,/en/scores/2011/451/QS024/match-stats
15262,1995-414,33,hamburg,/en/scores/archive/hamburg/414/1995/results,Round of 64,6,3,Marc Rosset,r214,marc-rosset,...,NaN,63 63,2,0,12,6,0,0,1995-414-r214-v037,/en/scores/1995/414/MS044/match-stats
71806,2011-540,37,wimbledon,/en/scores/archive/wimbledon/540/2011/results,Round of 128,7,57,Gilles Muller,ma30,gilles-muller,...,NaN,76(5) 76(3) 36 63,3,1,23,21,2,0,2011-540-ma30-h355,/en/scores/2011/540/MS066/match-stats
35128,2001-440,38,s-hertogenbosch,/en/scores/archive/s-hertogenbosch/440/2001/re...,Round of 32,5,16,Tomas Zib,z074,tomas-zib,...,NaN,64 61,2,0,12,5,0,0,2001-440-z074-k317,/en/scores/2001/440/MS029/match-stats
81332,2013-439,45,umag,/en/scores/archive/umag/439/2013/results,1st Round Qualifying,8,9,Tomislav Draganja,db69,tomislav-draganja,...,NaN,75 63,2,0,13,8,0,0,2013-439-db69-kc50,/en/scores/2013/439/QS021/match-stats
82679,2014-891,2,chennai,/en/scores/archive/chennai/891/2014/results,Quarter-Finals,3,2,Marcel Granollers,g710,marcel-granollers,...,4,62 36 76(5),2,1,16,14,1,0,2014-891-g710-pd31,/en/scores/2014/891/MS006/match-stats
92706,2016-410,23,monte-carlo,/en/scores/archive/monte-carlo/410/2016/results,Round of 32,5,11,Dominic Thiem,tb69,dominic-thiem,...,Q,46 62 60,2,1,16,8,0,0,2016-410-tb69-da81,/en/scores/2016/410/MS025/match-stats
45631,2005-506,10,buenos-aires,/en/scores/archive/buenos-aires/506/2005/results,Round of 32,5,11,Felix Mantilla,m535,felix-mantilla,...,NaN,64 76(0),2,0,13,10,1,0,2005-506-m535-h472,/en/scores/2005/506/MS025/match-stats

In [3]:
#print(match_scores_df.columns.values.tolist())
scores_df.columns

Index(['tourney_year_id', 'tourney_order', 'tourney_slug',
       'tourney_url_suffix', 'tourney_round_name', 'round_order',
       'match_order', 'winner_name', 'winner_player_id', 'winner_slug',
       'loser_name', 'loser_player_id', 'loser_slug', 'winner_seed',
       'loser_seed', 'match_score_tiebreaks', 'winner_sets_won',
       'loser_sets_won', 'winner_games_won', 'loser_games_won',
       'winner_tiebreaks_won', 'loser_tiebreaks_won', 'match_id',
       'match_stats_url_suffix'],
      dtype='object')

In [4]:
# Keep columns: 
# tourney_round_name, winner_name, winner_player_id, 
# winner_seed, match_score_tiebreaks, 
# winner_sets_won, winner_games_won, winner_tiebreaks_won, match_id

scores_df2 = scores_df[['tourney_round_name','winner_name','winner_player_id',
                        'winner_seed','match_score_tiebreaks','winner_sets_won',
                        'winner_games_won','winner_tiebreaks_won','match_id']]

match_scores = scores_df2.dropna().rename({'winner_player_id':'player_id'},axis=1)

match_scores.sample(5)

,tourney_round_name,winner_name,player_id,winner_seed,match_score_tiebreaks,winner_sets_won,winner_games_won,winner_tiebreaks_won,match_id
67906,2nd Round Qualifying,Brian Dabul,d556,3,60 60,2,12,0,2010-418-d556-sf36
12808,Round of 32,Alex Corretja,c344,5,36 64 63,2,15,0,1994-379-c344-m535
30194,Round of 32,Todd Woodbridge,w136,WC,46 75 63,2,17,0,1999-326-w136-s572
35846,Round of 16,Yevgeny Kafelnikov,k267,7,63 64 63,3,18,0,2001-560-k267-c487
14750,Round of 64,Jaime Yzaga,y017,30,62 76(5),2,13,1,1995-403-y017-s380

In [40]:
match_scores.dtypes

tourney_round_name       object
winner_name              object
player_id                object
winner_seed              object
match_score_tiebreaks    object
winner_sets_won           int64
winner_games_won          int64
winner_tiebreaks_won      int64
match_id                 object
dtype: object

In [6]:
match_scores.isnull().sum()

tourney_round_name       0
winner_name              0
player_id                0
winner_seed              0
match_score_tiebreaks    0
winner_sets_won          0
winner_games_won         0
winner_tiebreaks_won     0
match_id                 0
dtype: int64

In [7]:
# Shape before cleaning 
print(f'scores_df: {scores_df.shape}')

# Use scores_clean_df, shape after cleaning
print(f'match_scores: {match_scores.shape}')

scores_df: (99189, 24)
match_scores: (57372, 9)

# match_stats 

Append: `match_stats_1991-2016_unindexed_csv` and `match_stats_2017`

In [8]:
stats_files = glob.glob("../original_data/Stats/*.csv")
stats_df = pd.concat((pd.read_csv(f) for f in stats_files))
stats_df.head()

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,0,2017-339-r975-n409,/en/scores/2017/339/MS004/match-stats,02:21:00,141.0,23.0,3.0,62.0,97.0,50.0,...,19.0,35.0,1.0,7.0,14.0,15.0,31.0,97.0,84.0,181.0
1,0,2017-339-d875-n552,/en/scores/2017/339/MS001/match-stats,01:49:00,109.0,7.0,2.0,52.0,77.0,41.0,...,13.0,25.0,2.0,7.0,12.0,13.0,24.0,77.0,69.0,146.0
2,0,2017-339-d875-r975,/en/scores/2017/339/MS002/match-stats,01:28:00,88.0,4.0,1.0,36.0,58.0,27.0,...,4.0,22.0,0.0,0.0,10.0,10.0,13.0,58.0,53.0,119.0
3,0,2017-339-n552-w367,/en/scores/2017/339/MS003/match-stats,01:42:00,102.0,1.0,1.0,56.0,77.0,37.0,...,7.0,21.0,1.0,5.0,10.0,11.0,26.0,77.0,63.0,138.0
4,0,2017-339-d875-tb69,/en/scores/2017/339/MS005/match-stats,02:05:00,125.0,3.0,3.0,52.0,94.0,42.0,...,19.0,42.0,1.0,14.0,14.0,14.0,29.0,94.0,82.0,176.0

In [9]:
#print(df.columns.values.tolist())
stats_df.columns

Index(['tourney_order', 'match_id', 'match_stats_url_suffix', 'match_time',
       'match_duration', 'winner_aces', 'winner_double_faults',
       'winner_first_serves_in', 'winner_first_serves_total',
       'winner_first_serve_points_won', 'winner_first_serve_points_total',
       'winner_second_serve_points_won', 'winner_second_serve_points_total',
       'winner_break_points_saved', 'winner_break_points_serve_total',
       'winner_service_points_won', 'winner_service_points_total',
       'winner_first_serve_return_won', 'winner_first_serve_return_total',
       'winner_second_serve_return_won', 'winner_second_serve_return_total',
       'winner_break_points_converted', 'winner_break_points_return_total',
       'winner_service_games_played', 'winner_return_games_played',
       'winner_return_points_won', 'winner_return_points_total',
       'winner_total_points_won', 'winner_total_points_total', 'loser_aces',
       'loser_double_faults', 'loser_first_serves_in',
       'loser_first_serves_total', 'loser_first_serve_points_won',
       'loser_first_serve_points_total', 'loser_second_serve_points_won',
       'loser_second_serve_points_total', 'loser_break_points_saved',
       'loser_break_points_serve_total', 'loser_service_points_won',
       'loser_service_points_total', 'loser_first_serve_return_won',
       'loser_first_serve_return_total', 'loser_second_serve_return_won',
       'loser_second_serve_return_total', 'loser_break_points_converted',
       'loser_break_points_return_total', 'loser_service_games_played',
       'loser_return_games_played', 'loser_return_points_won',
       'loser_return_points_total', 'loser_total_points_won',
       'loser_total_points_total'],
      dtype='object')

In [10]:
# Keep columns:

stats_df2 = stats_df[['match_id', 'match_time',
       'match_duration', 'winner_aces', 'winner_double_faults',
       'winner_first_serves_in', 'winner_first_serves_total',
       'winner_first_serve_points_won', 'winner_first_serve_points_total',
       'winner_second_serve_points_won', 'winner_second_serve_points_total',
       'winner_break_points_saved', 'winner_break_points_serve_total',
       'winner_service_points_won', 'winner_service_points_total',
       'winner_first_serve_return_won', 'winner_first_serve_return_total',
       'winner_second_serve_return_won', 'winner_second_serve_return_total',
       'winner_break_points_converted', 'winner_break_points_return_total',
       'winner_service_games_played', 'winner_return_games_played',
       'winner_return_points_won', 'winner_return_points_total',
       'winner_total_points_won', 'winner_total_points_total']]


match_stats = stats_df2.dropna()
match_stats.sample(5)

,match_id,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,...,winner_second_serve_return_won,winner_second_serve_return_total,winner_break_points_converted,winner_break_points_return_total,winner_service_games_played,winner_return_games_played,winner_return_points_won,winner_return_points_total,winner_total_points_won,winner_total_points_total
58394,2009-404-w359-c634,01:43:00,103.0,1.0,2.0,41.0,77.0,32.0,41.0,23.0,...,11.0,24.0,3.0,7.0,13.0,13.0,25.0,72.0,80.0,149.0
18305,1996-311-f196-s351,01:57:00,117.0,4.0,9.0,73.0,125.0,53.0,73.0,24.0,...,31.0,57.0,4.0,11.0,17.0,16.0,42.0,108.0,119.0,233.0
72462,2012-520-t786-sk94,02:35:00,155.0,4.0,3.0,58.0,97.0,40.0,58.0,24.0,...,30.0,55.0,9.0,15.0,16.0,17.0,61.0,116.0,125.0,213.0
32756,2001-495-u032-g319,00:36:00,36.0,1.0,1.0,12.0,24.0,8.0,12.0,6.0,...,12.0,16.0,3.0,7.0,5.0,5.0,20.0,36.0,34.0,60.0
66817,2011-533-m708-m824,01:06:00,66.0,2.0,0.0,27.0,43.0,24.0,27.0,12.0,...,15.0,26.0,3.0,6.0,9.0,9.0,24.0,59.0,60.0,102.0

In [11]:
match_stats.isnull().sum().sum()

0

In [12]:
# Shape before cleaning 
print(f'stats_df: {stats_df.shape}')

# Shape after cleaning
print(f'match_stats: {match_stats.shape}')

stats_df: (95767, 53)
match_stats: (95617, 27)

# player_overviews
Join: `player_overviews`

In [13]:
file_path = "../original_data/player_rankings/player_overviews.csv"

players_df = pd.read_csv(file_path)
players_df.head()

,player_id,player_slug,first_name,last_name,player_url,flag_code,residence,birthplace,birthdate,birth_year,birth_month,birth_day,turned_pro,weight_lbs,weight_kg,height_ft,height_inches,height_cm,handedness,backhand
0,a002,ricardo-acuna,Ricardo,Acuna,http://www.atpworldtour.com/en/players/ricardo...,CHI,"Jupiter, FL, USA","Santiago, Chile",1958.01.13,1958.0,1.0,13.0,0.0,150.0,68.0,"5'9""",69.0,175.0,NaN,NaN
1,a001,sadiq-abdullahi,Sadiq,Abdullahi,http://www.atpworldtour.com/en/players/sadiq-a...,NGR,NaN,NaN,1960.02.02,1960.0,2.0,2.0,0.0,0.0,0.0,"0'0""",0.0,0.0,NaN,NaN
2,a005,nelson-aerts,Nelson,Aerts,http://www.atpworldtour.com/en/players/nelson-...,BRA,NaN,"Cachoeira Do Sul, Brazil",1963.04.25,1963.0,4.0,25.0,0.0,165.0,75.0,"6'2""",74.0,188.0,NaN,NaN
3,a004,egan-adams,Egan,Adams,http://www.atpworldtour.com/en/players/egan-ad...,USA,"Palmetto, FL, USA","Miami Beach, FL, USA",1959.06.15,1959.0,6.0,15.0,0.0,160.0,73.0,"5'10""",70.0,178.0,NaN,NaN
4,a006,ronald-agenor,Ronald,Agenor,http://www.atpworldtour.com/en/players/ronald-...,USA,"Beverly Hills, California, USA","Rabat, Morocco",1964.11.13,1964.0,11.0,13.0,1983.0,180.0,82.0,"5'11""",71.0,180.0,NaN,NaN

In [14]:
#print(player_overviews_df.columns.values.tolist())
players_df.columns

Index(['player_id', 'player_slug', 'first_name', 'last_name', 'player_url',
       'flag_code', 'residence', 'birthplace', 'birthdate', 'birth_year',
       'birth_month', 'birth_day', 'turned_pro', 'weight_lbs', 'weight_kg',
       'height_ft', 'height_inches', 'height_cm', 'handedness', 'backhand'],
      dtype='object')

In [33]:
# Keep columns: 
players_df2 = players_df[['player_id','first_name','last_name','flag_code','birthplace',
                          'birth_year','turned_pro', 'weight_lbs', 'weight_kg',
       'height_ft', 'height_cm', 'handedness', 'backhand']]
                          
                          

players_overview = players_df2.dropna()
players_overview.sample(5)

,player_id,first_name,last_name,flag_code,birthplace,birth_year,turned_pro,weight_lbs,weight_kg,height_ft,height_cm,handedness,backhand
8976,sj22,Gleb,Sakharov,FRA,"Tashkent, Uzbekistan",1988.0,2005.0,172.0,78.0,"6'1""",185.0,Right-Handed,Two-Handed Backhand
8808,s938,Bruno,Soares,BRA,"Belo Horizonte, Brazil",1982.0,2001.0,159.0,72.0,"5'11""",180.0,Right-Handed,Two-Handed Backhand
6980,n254,Jiri,Novak,CZE,"Zlin, Czech Republic",1975.0,1993.0,190.0,86.0,"6'3""",191.0,Right-Handed,Two-Handed Backhand
4108,h390,Luis,Horna,PER,"Lima, Peru",1980.0,1998.0,180.0,82.0,"5'11""",180.0,Right-Handed,One-Handed Backhand
6214,m759,Wesley,Moodie,RSA,"Durban, South Africa",1979.0,2000.0,200.0,91.0,"6'5""",196.0,Right-Handed,One-Handed Backhand

In [34]:
players_overview.columns

Index(['player_id', 'first_name', 'last_name', 'flag_code', 'birthplace',
       'birth_year', 'turned_pro', 'weight_lbs', 'weight_kg', 'height_ft',
       'height_cm', 'handedness', 'backhand'],
      dtype='object')

In [41]:
players_overview.dtypes

player_id      object
first_name     object
last_name      object
flag_code      object
birthplace     object
birth_year    float64
turned_pro    float64
weight_lbs    float64
weight_kg     float64
height_ft      object
height_cm     float64
handedness     object
backhand       object
dtype: object

In [16]:
players_overview.isnull().sum().sum()

0

In [17]:
# Shape before cleaning 
print(f'players_df: {players_df.shape}')

# Shape after cleaning
print(f'players_overview: {players_overview.shape}')

players_df: (10912, 20)
players_overview: (555, 17)

In [18]:
# figure out a way to fill for 'handedness' and 'backhand'

# rankings
Join: `rankings_1973-2017`

In [19]:
file_path = "../original_data/player_rankings/rankings_1973-2017.csv"

rankings_df = pd.read_csv(file_path)
rankings_df.head()

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,week_title,week_year,week_month,week_day,rank_text,rank_number,move_positions,move_direction,player_age,ranking_points,tourneys_played,player_url,player_slug,player_id
0,2017.11.20,2017,11,20,1,1,NaN,NaN,31.0,10645,18,/en/players/rafael-nadal/n409/overview,rafael-nadal,n409
1,2017.11.20,2017,11,20,2,2,NaN,NaN,36.0,9605,17,/en/players/roger-federer/f324/overview,roger-federer,f324
2,2017.11.20,2017,11,20,3,3,3.0,up,26.0,5150,23,/en/players/grigor-dimitrov/d875/overview,grigor-dimitrov,d875
3,2017.11.20,2017,11,20,4,4,1.0,down,20.0,4610,25,/en/players/alexander-zverev/z355/overview,alexander-zverev,z355
4,2017.11.20,2017,11,20,5,5,1.0,down,24.0,4015,27,/en/players/dominic-thiem/tb69/overview,dominic-thiem,tb69

In [20]:
rankings_df.columns

Index(['week_title', 'week_year', 'week_month', 'week_day', 'rank_text',
       'rank_number', 'move_positions', 'move_direction', 'player_age',
       'ranking_points', 'tourneys_played', 'player_url', 'player_slug',
       'player_id'],
      dtype='object')

In [21]:
# Keep columns: 
rankings_df2 = rankings_df[['week_title','week_year','week_month','week_day','rank_text',
       'rank_number','move_positions','move_direction','player_age',
       'ranking_points','tourneys_played','player_id']]
                          
                          
rankings_overview = rankings_df2.dropna()
rankings_overview.sample(5)

,week_title,week_year,week_month,week_day,rank_text,rank_number,move_positions,move_direction,player_age,ranking_points,tourneys_played,player_id
336697,2014.07.28,2014,7,28,1115T,1115,3.0,up,21.0,8,14,mi41
1310429,2004.05.10,2004,5,10,674,674,1.0,up,25.0,21,6,s913
1962837,1996.07.29,1996,7,29,1268T,1268,2.0,down,36.0,0,0,t001
1741518,1999.05.03,1999,5,3,1292T,1292,4.0,down,21.0,1,1,h488
781372,2009.09.21,2009,9,21,1025,1025,28.0,up,22.0,9,11,k846

In [43]:
rankings_overview.dtypes

week_title          object
week_year            int64
week_month           int64
week_day             int64
rank_text           object
rank_number          int64
move_positions     float64
move_direction      object
player_age         float64
ranking_points       int64
tourneys_played      int64
player_id           object
dtype: object

In [22]:
# rankings_clean_df.isnull().sum().sum()

# Shape before cleaning 
print(f'rankings_df: {rankings_df.shape}')

# Shape after cleaning
print(f'rankings_overview: {rankings_overview.shape}')

rankings_df: (2694539, 14)
rankings_overview: (1964056, 12)

### Merge: `players_overview` and `rankings_overview` on 'player_id'

In [36]:
players_rankings = pd.merge(players_overview, rankings_overview, on=["player_id", "player_id"])
players_rankings.sample(5)

,player_id,first_name,last_name,flag_code,birthplace,birth_year,turned_pro,weight_lbs,weight_kg,height_ft,...,week_year,week_month,week_day,rank_text,rank_number,move_positions,move_direction,player_age,ranking_points,tourneys_played
153763,n409,Rafael,Nadal,ESP,"Manacor, Mallorca, Spain",1986.0,2001.0,188.0,85.0,"6'1""",...,2002,3,18,766,766,2.0,down,15.0,13,3
86449,h442,Jan,Hernych,CZE,"Prague, Czech Republic",1979.0,1998.0,182.0,83.0,"6'2""",...,1998,1,12,1195T,1195,7.0,down,18.0,0,2
4335,a596,Pablo,Andujar,ESP,"Cuenca, Spain",1986.0,2003.0,167.0,76.0,"5'11""",...,2010,11,15,71,71,3.0,up,24.0,683,26
5579,a678,Kevin,Anderson,RSA,"Johannesburg, South Africa",1986.0,2007.0,205.0,93.0,"6'8""",...,2013,1,7,36,36,1.0,up,26.0,1065,27
66842,f586,Thomas,Fabbiano,ITA,"Grottaglie, Italy",1989.0,2005.0,152.0,69.0,"5'8""",...,2008,10,6,410,410,1.0,down,19.0,77,25

In [25]:
print(f'Merged players and rankings: {players_rankings.shape}')

Merged players and rankings: (232246, 28)

### Merge: `match_scores` and `match_stats` on match_id

In [37]:
stats_scores = pd.merge(match_scores, match_stats, on=["match_id", "match_id"])
stats_scores.sample(5)

,tourney_round_name,winner_name,player_id,winner_seed,match_score_tiebreaks,winner_sets_won,winner_games_won,winner_tiebreaks_won,match_id,match_time,...,winner_second_serve_return_won,winner_second_serve_return_total,winner_break_points_converted,winner_break_points_return_total,winner_service_games_played,winner_return_games_played,winner_return_points_won,winner_return_points_total,winner_total_points_won,winner_total_points_total
36319,Round of 64,Jo-Wilfried Tsonga,t786,8,60 61 64,3,18,0,2010-520-t786-o264,01:19:00,...,20.0,31.0,6.0,10.0,12.0,11.0,33.0,66.0,83.0,130.0
18530,Round of 16,Lars Burgsmuller,b484,WC,46 64 75,2,17,0,2001-500-b484-g319,02:11:00,...,16.0,37.0,3.0,6.0,16.0,16.0,41.0,106.0,105.0,197.0
27548,Round of 16,Roger Federer,f324,1,62 61,2,12,0,2006-329-f324-m759,00:52:00,...,13.0,20.0,4.0,8.0,8.0,7.0,23.0,44.0,56.0,84.0
17191,Quarter-Finals,Diego Nargiso,n109,WC,76(5) 64,2,13,1,2000-475-n109-a203,01:30:00,...,16.0,34.0,3.0,3.0,11.0,11.0,29.0,71.0,76.0,139.0
35409,1st Round Qualifying,Marsel Ilhan,k771,24,61 62,2,12,0,2010-580-k771-pb22,00:59:00,...,10.0,21.0,6.0,11.0,7.0,8.0,31.0,53.0,60.0,98.0

### Merge: `players_rankings` and `stats_scores` on 'player_id'

In [27]:
tennis_matches = pd.merge(players_rankings, stats_scores, on=["player_id", "player_id"])
tennis_matches.sample(5)

,player_id,first_name,last_name,flag_code,birthplace,birthdate,birth_year,birth_month,birth_day,turned_pro,...,winner_second_serve_return_won,winner_second_serve_return_total,winner_break_points_converted,winner_break_points_return_total,winner_service_games_played,winner_return_games_played,winner_return_points_won,winner_return_points_total,winner_total_points_won,winner_total_points_total
17133855,v306,Fernando,Verdasco,ESP,"Madrid, Spain",1983.11.15,1983.0,11.0,15.0,2001.0,...,20.0,32.0,7.0,9.0,12.0,12.0,37.0,67.0,83.0,123.0
4311513,d994,James,Duckworth,AUS,"Sydney, Australia",1992.01.21,1992.0,1.0,21.0,2010.0,...,20.0,43.0,3.0,7.0,18.0,18.0,37.0,114.0,123.0,246.0
5303191,f401,David,Ferrer,ESP,"Javea, Spain",1982.04.02,1982.0,4.0,2.0,2000.0,...,18.0,26.0,3.0,5.0,10.0,10.0,28.0,64.0,75.0,131.0
13612991,r286,Marcelo,Rios,CHI,"Santiago, Chile",1975.12.26,1975.0,12.0,26.0,1994.0,...,19.0,26.0,5.0,9.0,7.0,8.0,30.0,55.0,60.0,98.0
16488573,t315,Dmitry,Tursunov,RUS,"Moscow, Russia",1982.12.12,1982.0,12.0,12.0,2000.0,...,18.0,38.0,4.0,13.0,16.0,15.0,36.0,89.0,100.0,183.0

In [138]:
# tennis_match.shape

In [28]:
tennis_matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17976652 entries, 0 to 17976651
Data columns (total 62 columns):
 #   Column                            Dtype
---  ------                            -----
 0   player_id                         object
 1   first_name                        object
 2   last_name                         object
 3   flag_code                         object
 4   birthplace                        object
 5   birthdate                         object
 6   birth_year                        float64
 7   birth_month                       float64
 8   birth_day                         float64
 9   turned_pro                        float64
 10  weight_lbs                        float64
 11  weight_kg                         float64
 12  height_ft                         object
 13  height_inches                     float64
 14  height_cm                         float64
 15  handedness                        object
 16  backhand                          object
 17  week_title                        object
 18  week_year                         int64
 19  week_month                        int64
 20  week_day                          int64
 21  rank_text                         object
 22  rank_number                       int64
 23  move_positions                    float64
 24  move_direction                    object
 25  player_age                        float64
 26  ranking_points                    int64
 27  tourneys_played                   int64
 28  tourney_round_name                object
 29  winner_name                       object
 30  winner_seed                       object
 31  match_score_tiebreaks             object
 32  winner_sets_won                   int64
 33  winner_games_won                  int64
 34  winner_tiebreaks_won              int64
 35  match_id                          object
 36  match_time                        object
 37  match_duration                    float64
 38  winner_aces                       float64
 39  winner_double_faults              float64
 40  winner_first_serves_in            float64
 41  winner_first_serves_total         float64
 42  winner_first_serve_points_won     float64
 43  winner_first_serve_points_total   float64
 44  winner_second_serve_points_won    float64
 45  winner_second_serve_points_total  float64
 46  winner_break_points_saved         float64
 47  winner_break_points_serve_total   float64
 48  winner_service_points_won         float64
 49  winner_service_points_total       float64
 50  winner_first_serve_return_won     float64
 51  winner_first_serve_return_total   float64
 52  winner_second_serve_return_won    float64
 53  winner_second_serve_return_total  float64
 54  winner_break_points_converted     float64
 55  winner_break_points_return_total  float64
 56  winner_service_games_played       float64
 57  winner_return_games_played        float64
 58  winner_return_points_won          float64
 59  winner_return_points_total        float64
 60  winner_total_points_won           float64
 61  winner_total_points_total         float64
dtypes: float64(35), int64(9), object(18)
memory usage: 8.4+ GB

    - DataFrames

    - First:
    match_scores
    match_stats
    players_overview
    rankings_overview

    - Merged:
    players_rankings
    stats_scores

    - Final:
    tennis_matches

# Connection to postgreSQL with SQLAlchemy

In [19]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/tennis_predictor"

In [20]:
# database engine
engine = create_engine(db_string)

In [21]:
match_scores.to_sql(name='match_scores', con=engine)

In [ ]:
# not creating this table since it needs more cleaning

# match_stats.to_sql(name='match_stats', con=engine)

In [ ]:
players_overview.to_sql(name='players_overview', con=engine)

In [ ]:
rankings_overview.to_sql(name='rankings_overview', con=engine)

In [ ]:
# Save tennis_matches (complete merge) to a SQL table

#tennis_matches.to_sql(name='tennis_matches', con=engine)

# Analytics?

In [141]:
df = tennis_match.sort_values(['winner_games_won'],ascending=False)

In [142]:
df.head(10)

,player_id,first_name,last_name,flag_code,birthplace,birthdate,birth_year,birth_month,birth_day,turned_pro,...,winner_second_serve_return_won,winner_second_serve_return_total,winner_break_points_converted,winner_break_points_return_total,winner_service_games_played,winner_return_games_played,winner_return_points_won,winner_return_points_total,winner_total_points_won,winner_total_points_total
591831,a678,Kevin,Anderson,RSA,"Johannesburg, South Africa",1986.05.18,1986.0,5.0,18.0,2007.0,...,27.0,64.0,6.0,16.0,31.0,30.0,83.0,210.0,215.0,408.0
628056,a678,Kevin,Anderson,RSA,"Johannesburg, South Africa",1986.05.18,1986.0,5.0,18.0,2007.0,...,27.0,64.0,6.0,16.0,31.0,30.0,83.0,210.0,215.0,408.0
15446369,s694,Radek,Stepanek,CZE,"Karvina, Czech Republic",1978.11.27,1978.0,11.0,27.0,1996.0,...,19.0,52.0,5.0,9.0,31.0,31.0,47.0,165.0,179.0,347.0
12447271,n289,Jarkko,Nieminen,FIN,"Masku, Finland",1981.07.23,1981.0,7.0,23.0,2000.0,...,35.0,77.0,5.0,10.0,31.0,31.0,59.0,186.0,196.0,384.0
12447083,n289,Jarkko,Nieminen,FIN,"Masku, Finland",1981.07.23,1981.0,7.0,23.0,2000.0,...,35.0,77.0,5.0,10.0,31.0,31.0,59.0,186.0,196.0,384.0
7057258,h355,Tommy,Haas,GER,"Hamburg, Germany",1978.04.03,1978.0,4.0,3.0,1996.0,...,27.0,51.0,3.0,23.0,32.0,32.0,73.0,229.0,224.0,437.0
15446641,s694,Radek,Stepanek,CZE,"Karvina, Czech Republic",1978.11.27,1978.0,11.0,27.0,1996.0,...,19.0,52.0,5.0,9.0,31.0,31.0,47.0,165.0,179.0,347.0
15354161,s694,Radek,Stepanek,CZE,"Karvina, Czech Republic",1978.11.27,1978.0,11.0,27.0,1996.0,...,19.0,52.0,5.0,9.0,31.0,31.0,47.0,165.0,179.0,347.0
6958366,h355,Tommy,Haas,GER,"Hamburg, Germany",1978.04.03,1978.0,4.0,3.0,1996.0,...,27.0,51.0,3.0,23.0,32.0,32.0,73.0,229.0,224.0,437.0
15446913,s694,Radek,Stepanek,CZE,"Karvina, Czech Republic",1978.11.27,1978.0,11.0,27.0,1996.0,...,19.0,52.0,5.0,9.0,31.0,31.0,47.0,165.0,179.0,347.0

In [152]:
#print(df.iloc[index])

In [155]:
are_duplicates = df.duplicated().any()
are_duplicates = df.duplicated(subset=['player_id','match_id']).any()
are_duplicates

# Duplicates

True