In [1]:
import numpy as np
import pandas as pd
import os
import glob

# SQLAlchemy
from sqlalchemy import create_engine
from config import db_password

# match_scores

Append: `match_scores_1991-2016_unindexed_csv` and `match_scores_2017`

In [3]:
scores_files = glob.glob("../original_data/Scores/*.csv")
scores_df = pd.concat((pd.read_csv(f) for f in scores_files))
scores_df.sample(10)

,tourney_year_id,tourney_order,tourney_slug,tourney_url_suffix,tourney_round_name,round_order,match_order,winner_name,winner_player_id,winner_slug,...,loser_seed,match_score_tiebreaks,winner_sets_won,loser_sets_won,winner_games_won,loser_games_won,winner_tiebreaks_won,loser_tiebreaks_won,match_id,match_stats_url_suffix
515,2017-7161,8,quito,/en/scores/archive/quito/7161/2017/results,1st Round Qualifying,7,8,Caio Zampieri,z198,caio-zampieri,...,NaN,63 64,2,0,12,7,0,0,2017-7161-z198-cc66,/en/scores/2017/7161/QS011/match-stats
1505,2017-7163,27,istanbul,/en/scores/archive/istanbul/7163/2017/results,Round of 32,5,7,Rogerio Dutra Silva,sc73,rogerio-dutra-silva,...,Q,36 76(1) 60,2,1,16,12,1,0,2017-7163-sc73-bh76,/en/scores/2017/7163/MS018/match-stats
3559,2017-7485,61,antwerp,/en/scores/archive/antwerp/7485/2017/results,Round of 16,4,6,Julien Benneteau,b747,julien-benneteau,...,NaN,61 61,2,0,12,2,0,0,2017-7485-b747-l949,/en/scores/2017/7485/MS014/match-stats
2351,2017-540,40,wimbledon,/en/scores/archive/wimbledon/540/2017/results,Round of 128,7,16,Gilles Muller,ma30,gilles-muller,...,WC,75 64 62,3,0,19,11,0,0,2017-540-ma30-f724,/en/scores/2017/540/MS087/match-stats
633,2017-407,12,rotterdam,/en/scores/archive/rotterdam/407/2017/results,Finals,1,1,Jo-Wilfried Tsonga,t786,jo-wilfried-tsonga,...,3,46 64 61,2,1,16,11,0,0,2017-407-t786-gb88,/en/scores/2017/407/MS001/match-stats
2658,2017-6116,44,atlanta,/en/scores/archive/atlanta/6116/2017/results,2nd Round Qualifying,6,3,Quentin Halys,hb64,quentin-halys,...,6,67(6) 75 64,2,1,19,16,0,1,2017-6116-hb64-n674,/en/scores/2017/6116/QS006/match-stats
1049,2017-404,19,indian-wells,/en/scores/archive/indian-wells/404/2017/results,1st Round Qualifying,9,18,Vasek Pospisil,pd07,vasek-pospisil,...,WC,63 64,2,0,12,7,0,0,2017-404-pd07-kc12,/en/scores/2017/404/QS043/match-stats
3705,2017-328,64,basel,/en/scores/archive/basel/328/2017/results,1st Round Qualifying,7,7,Vasek Pospisil,pd07,vasek-pospisil,...,NaN,76(3) 64,2,0,13,10,1,0,2017-328-pd07-d750,/en/scores/2017/328/QS015/match-stats
3491,2017-5014,60,shanghai,/en/scores/archive/shanghai/5014/2017/results,Round of 32,5,6,Grigor Dimitrov,d875,grigor-dimitrov,...,NaN,36 63 76(6),2,1,16,15,1,0,2017-5014-d875-h940,/en/scores/2017/5014/MS019/match-stats
2241,2017-741,39,eastbourne,/en/scores/archive/eastbourne/741/2017/results,Round of 16,4,1,Novak Djokovic,d643,novak-djokovic,...,Q,64 63,2,0,12,7,0,0,2017-741-d643-pd07,/en/scores/2017/741/MS008/match-stats

In [51]:
#print(match_scores_df.columns.values.tolist())
scores_df.columns

Index(['tourney_year_id', 'tourney_order', 'tourney_slug',
       'tourney_url_suffix', 'tourney_round_name', 'round_order',
       'match_order', 'winner_name', 'winner_player_id', 'winner_slug',
       'loser_name', 'loser_player_id', 'loser_slug', 'winner_seed',
       'loser_seed', 'match_score_tiebreaks', 'winner_sets_won',
       'loser_sets_won', 'winner_games_won', 'loser_games_won',
       'winner_tiebreaks_won', 'loser_tiebreaks_won', 'match_id',
       'match_stats_url_suffix'],
      dtype='object')

In [4]:
# Keep columns: 
# tourney_round_name, winner_name, winner_player_id, 
# winner_seed, match_score_tiebreaks, 
# winner_sets_won, winner_games_won, winner_tiebreaks_won, match_id

scores_df2 = scores_df[['tourney_round_name','winner_name','winner_player_id',
                        'winner_seed','match_score_tiebreaks','winner_sets_won',
                        'winner_games_won','winner_tiebreaks_won','match_id']]

match_scores = scores_df2.dropna().rename({'winner_player_id':'player_id'},axis=1)

match_scores.sample(5)

,tourney_round_name,winner_name,player_id,winner_seed,match_score_tiebreaks,winner_sets_won,winner_games_won,winner_tiebreaks_won,match_id
3494,Round of 32,Sam Querrey,q927,10,63 76(7),2,13,1,2017-5014-q927-td51
1269,Quarter-Finals,Rafael Nadal,n409,4,64 64,2,12,0,2017-410-n409-sm37
624,2nd Round Qualifying,Matthew Ebden,e690,PR,62 64,2,12,0,2017-402-e690-ba23
1988,1st Round Qualifying,Guido Andreozzi,a887,22,61 64,2,12,0,2017-520-a887-bc72
2902,Round of 16,Roberto Bautista Agut,bd06,12,46 76(5) 76(2),2,18,2,2017-421-bd06-mc65

In [109]:
match_scores.isnull().sum().sum()

0

In [110]:
# Shape before cleaning 
print(f'scores_df: {scores_df.shape}')

# Use scores_clean_df, shape after cleaning
print(f'match_scores: {match_scores.shape}')

scores_df: (99189, 24)
match_scores: (57372, 9)

# match_stats 

Append: `match_stats_1991-2016_unindexed_csv` and `match_stats_2017`

In [5]:
stats_files = glob.glob("../original_data/Stats/*.csv")
stats_df = pd.concat((pd.read_csv(f) for f in stats_files))
stats_df.head()

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,0,2017-339-r975-n409,/en/scores/2017/339/MS004/match-stats,02:21:00,141,23,3,62,97,50,...,19,35,1,7,14,15,31,97,84,181
1,0,2017-339-d875-n552,/en/scores/2017/339/MS001/match-stats,01:49:00,109,7,2,52,77,41,...,13,25,2,7,12,13,24,77,69,146
2,0,2017-339-d875-r975,/en/scores/2017/339/MS002/match-stats,01:28:00,88,4,1,36,58,27,...,4,22,0,0,10,10,13,58,53,119
3,0,2017-339-n552-w367,/en/scores/2017/339/MS003/match-stats,01:42:00,102,1,1,56,77,37,...,7,21,1,5,10,11,26,77,63,138
4,0,2017-339-d875-tb69,/en/scores/2017/339/MS005/match-stats,02:05:00,125,3,3,52,94,42,...,19,42,1,14,14,14,29,94,82,176

In [72]:
#print(df.columns.values.tolist())
stats_df.columns

Index(['tourney_order', 'match_id', 'match_stats_url_suffix', 'match_time',
       'match_duration', 'winner_aces', 'winner_double_faults',
       'winner_first_serves_in', 'winner_first_serves_total',
       'winner_first_serve_points_won', 'winner_first_serve_points_total',
       'winner_second_serve_points_won', 'winner_second_serve_points_total',
       'winner_break_points_saved', 'winner_break_points_serve_total',
       'winner_service_points_won', 'winner_service_points_total',
       'winner_first_serve_return_won', 'winner_first_serve_return_total',
       'winner_second_serve_return_won', 'winner_second_serve_return_total',
       'winner_break_points_converted', 'winner_break_points_return_total',
       'winner_service_games_played', 'winner_return_games_played',
       'winner_return_points_won', 'winner_return_points_total',
       'winner_total_points_won', 'winner_total_points_total', 'loser_aces',
       'loser_double_faults', 'loser_first_serves_in',
       'loser_first_serves_total', 'loser_first_serve_points_won',
       'loser_first_serve_points_total', 'loser_second_serve_points_won',
       'loser_second_serve_points_total', 'loser_break_points_saved',
       'loser_break_points_serve_total', 'loser_service_points_won',
       'loser_service_points_total', 'loser_first_serve_return_won',
       'loser_first_serve_return_total', 'loser_second_serve_return_won',
       'loser_second_serve_return_total', 'loser_break_points_converted',
       'loser_break_points_return_total', 'loser_service_games_played',
       'loser_return_games_played', 'loser_return_points_won',
       'loser_return_points_total', 'loser_total_points_won',
       'loser_total_points_total'],
      dtype='object')

In [6]:
# Keep columns:

stats_df2 = stats_df[['match_id', 'match_time',
       'match_duration', 'winner_aces', 'winner_double_faults',
       'winner_first_serves_in', 'winner_first_serves_total',
       'winner_first_serve_points_won', 'winner_first_serve_points_total',
       'winner_second_serve_points_won', 'winner_second_serve_points_total',
       'winner_break_points_saved', 'winner_break_points_serve_total',
       'winner_service_points_won', 'winner_service_points_total',
       'winner_first_serve_return_won', 'winner_first_serve_return_total',
       'winner_second_serve_return_won', 'winner_second_serve_return_total',
       'winner_break_points_converted', 'winner_break_points_return_total',
       'winner_service_games_played', 'winner_return_games_played',
       'winner_return_points_won', 'winner_return_points_total',
       'winner_total_points_won', 'winner_total_points_total']]


match_stats = stats_df2.dropna()
match_stats.sample(5)

,match_id,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,winner_first_serve_points_total,winner_second_serve_points_won,...,winner_second_serve_return_won,winner_second_serve_return_total,winner_break_points_converted,winner_break_points_return_total,winner_service_games_played,winner_return_games_played,winner_return_points_won,winner_return_points_total,winner_total_points_won,winner_total_points_total
1325,2017-410-cf59-a829,01:30:00,90,0,1,31,53,24,31,11,...,9,13,4,8,9,9,30,64,65,117
3468,2017-5014-n409-dc58,00:54:00,54,5,0,26,36,22,26,10,...,12,14,4,11,8,7,19,39,51,75
2603,2017-439-z246-n679,01:31:00,91,10,3,31,62,25,31,17,...,16,29,4,9,11,10,30,63,72,125
3369,2017-747-ke17-z355,01:18:00,78,11,0,39,56,34,39,12,...,13,27,2,5,11,10,20,57,66,113
44,2017-891-pd31-bh09,01:02:00,62,4,4,22,45,20,22,14,...,11,16,4,8,8,7,23,42,57,87

In [106]:
match_stats.isnull().sum().sum()

0

In [107]:
# Shape before cleaning 
print(f'stats_df: {stats_df.shape}')

# Shape after cleaning
print(f'match_stats: {match_stats.shape}')

stats_df: (95767, 53)
match_stats: (95617, 27)

# player_overviews
Join: `player_overviews`

In [7]:
file_path = "../original_data/player_rankings/player_overviews.csv"

players_df = pd.read_csv(file_path)
players_df.head()

,player_id,player_slug,first_name,last_name,player_url,flag_code,residence,birthplace,birthdate,birth_year,birth_month,birth_day,turned_pro,weight_lbs,weight_kg,height_ft,height_inches,height_cm,handedness,backhand
0,a002,ricardo-acuna,Ricardo,Acuna,http://www.atpworldtour.com/en/players/ricardo...,CHI,"Jupiter, FL, USA","Santiago, Chile",1958.01.13,1958.0,1.0,13.0,0.0,150.0,68.0,"5'9""",69.0,175.0,NaN,NaN
1,a001,sadiq-abdullahi,Sadiq,Abdullahi,http://www.atpworldtour.com/en/players/sadiq-a...,NGR,NaN,NaN,1960.02.02,1960.0,2.0,2.0,0.0,0.0,0.0,"0'0""",0.0,0.0,NaN,NaN
2,a005,nelson-aerts,Nelson,Aerts,http://www.atpworldtour.com/en/players/nelson-...,BRA,NaN,"Cachoeira Do Sul, Brazil",1963.04.25,1963.0,4.0,25.0,0.0,165.0,75.0,"6'2""",74.0,188.0,NaN,NaN
3,a004,egan-adams,Egan,Adams,http://www.atpworldtour.com/en/players/egan-ad...,USA,"Palmetto, FL, USA","Miami Beach, FL, USA",1959.06.15,1959.0,6.0,15.0,0.0,160.0,73.0,"5'10""",70.0,178.0,NaN,NaN
4,a006,ronald-agenor,Ronald,Agenor,http://www.atpworldtour.com/en/players/ronald-...,USA,"Beverly Hills, California, USA","Rabat, Morocco",1964.11.13,1964.0,11.0,13.0,1983.0,180.0,82.0,"5'11""",71.0,180.0,NaN,NaN

In [89]:
#print(player_overviews_df.columns.values.tolist())
players_df.columns

Index(['player_id', 'player_slug', 'first_name', 'last_name', 'player_url',
       'flag_code', 'residence', 'birthplace', 'birthdate', 'birth_year',
       'birth_month', 'birth_day', 'turned_pro', 'weight_lbs', 'weight_kg',
       'height_ft', 'height_inches', 'height_cm', 'handedness', 'backhand'],
      dtype='object')

In [8]:
# Keep columns: 
players_df2 = players_df[['player_id','first_name','last_name','flag_code','birthplace','birthdate',
                          'birth_year','birth_month','birth_day','turned_pro', 'weight_lbs', 'weight_kg',
       'height_ft', 'height_inches', 'height_cm', 'handedness', 'backhand']]
                          
                          

players_overview = players_df2.dropna()
players_overview.sample(5)

,player_id,first_name,last_name,flag_code,birthplace,birthdate,birth_year,birth_month,birth_day,turned_pro,weight_lbs,weight_kg,height_ft,height_inches,height_cm,handedness,backhand
3633,g983,Alessandro,Giannessi,ITA,"La Spezia, Italy",1990.05.30,1990.0,5.0,30.0,2008.0,180.0,82.0,"6'1""",73.0,185.0,Left-Handed,Two-Handed Backhand
2753,e121,Younes,El Aynaoui,MAR,"Rabat, Morocco",1971.09.12,1971.0,9.0,12.0,1990.0,190.0,86.0,"6'4""",76.0,193.0,Right-Handed,Two-Handed Backhand
8864,sc77,Sergiy,Stakhovsky,UKR,"Kiev, Ukraine",1986.01.06,1986.0,1.0,6.0,2003.0,176.0,80.0,"6'4""",76.0,193.0,Right-Handed,One-Handed Backhand
3516,g379,Sebastien,Grosjean,FRA,"Marseille, France",1978.05.29,1978.0,5.0,29.0,1996.0,160.0,73.0,"5'9""",69.0,175.0,Right-Handed,Two-Handed Backhand
5531,l386,Jean-Rene,Lisnard,MON,"Cannes, France",1979.09.25,1979.0,9.0,25.0,1997.0,150.0,68.0,"5'8""",68.0,173.0,Right-Handed,One-Handed Backhand

In [103]:
players_overview.isnull().sum().sum()

0

In [104]:
# Shape before cleaning 
print(f'players_df: {players_df.shape}')

# Shape after cleaning
print(f'players_overview: {players_overview.shape}')

players_df: (10912, 20)
players_overview: (555, 17)

In [ ]:
# figure out a way to fill for 'handedness' and 'backhand'

# rankings
Join: `rankings_1973-2017`

In [11]:
file_path = "../original_data/player_rankings/rankings_1973-2017.csv"

rankings_df = pd.read_csv(file_path)
rankings_df.head()

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,week_title,week_year,week_month,week_day,rank_text,rank_number,move_positions,move_direction,player_age,ranking_points,tourneys_played,player_url,player_slug,player_id
0,2017.11.20,2017,11,20,1,1,NaN,NaN,31.0,10645,18,/en/players/rafael-nadal/n409/overview,rafael-nadal,n409
1,2017.11.20,2017,11,20,2,2,NaN,NaN,36.0,9605,17,/en/players/roger-federer/f324/overview,roger-federer,f324
2,2017.11.20,2017,11,20,3,3,3.0,up,26.0,5150,23,/en/players/grigor-dimitrov/d875/overview,grigor-dimitrov,d875
3,2017.11.20,2017,11,20,4,4,1.0,down,20.0,4610,25,/en/players/alexander-zverev/z355/overview,alexander-zverev,z355
4,2017.11.20,2017,11,20,5,5,1.0,down,24.0,4015,27,/en/players/dominic-thiem/tb69/overview,dominic-thiem,tb69

In [12]:
rankings_df.columns

Index(['week_title', 'week_year', 'week_month', 'week_day', 'rank_text',
       'rank_number', 'move_positions', 'move_direction', 'player_age',
       'ranking_points', 'tourneys_played', 'player_url', 'player_slug',
       'player_id'],
      dtype='object')

In [13]:
# Keep columns: 
rankings_df2 = rankings_df[['week_title','week_year','week_month','week_day','rank_text',
       'rank_number','move_positions','move_direction','player_age',
       'ranking_points','tourneys_played','player_id']]
                          
                          
rankings_overview = rankings_df2.dropna()
rankings_overview.sample(5)

,week_title,week_year,week_month,week_day,rank_text,rank_number,move_positions,move_direction,player_age,ranking_points,tourneys_played,player_id
2138805,1994.02.28,1994,2,28,827T,827,7.0,up,30.0,0,0,m022
1744098,1999.04.19,1999,4,19,819T,819,6.0,up,22.0,12,5,r387
2575214,1986.11.03,1986,11,3,166,166,10.0,down,24.0,0,0,i003
1148871,2006.01.16,2006,1,16,1204T,1204,1.0,up,26.0,4,3,y056
1348950,2003.12.08,2003,12,8,871T,871,11.0,down,19.0,10,6,d563

In [14]:
# rankings_clean_df.isnull().sum().sum()

# Shape before cleaning 
print(f'rankings_df: {rankings_df.shape}')

# Shape after cleaning
print(f'rankings_overview: {rankings_overview.shape}')

rankings_df: (2694539, 14)
rankings_overview: (1964056, 12)

### Merge: `players_overview` and `rankings_overview` on 'player_id'

In [15]:
players_rankings = pd.merge(players_overview, rankings_overview, on=["player_id", "player_id"])
players_rankings.sample(5)

,player_id,first_name,last_name,flag_code,birthplace,birthdate,birth_year,birth_month,birth_day,turned_pro,...,week_year,week_month,week_day,rank_text,rank_number,move_positions,move_direction,player_age,ranking_points,tourneys_played
68607,g354,Justin,Gimelstob,USA,"Livingston, New Jersey, USA",1977.01.26,1977.0,1.0,26.0,1996.0,...,2000,10,30,86,86,2.0,down,23.0,501,24
151120,n210,Daniel,Nestor,CAN,"Belgrade, Serbia",1972.09.04,1972.0,9.0,4.0,1991.0,...,1990,8,13,685T,685,3.0,down,17.0,0,0
71402,g551,Santiago,Gonzalez,MEX,"Cordoba, Mexico",1983.02.24,1983.0,2.0,24.0,2001.0,...,2015,4,27,1184T,1184,7.0,up,32.0,6,1
60676,e224,Victor,Estrella Burgos,DOM,"Santiago, Dominican Republic",1980.08.02,1980.0,8.0,2.0,2002.0,...,2011,9,19,230,230,1.0,down,31.0,213,23
83077,h355,Tommy,Haas,GER,"Hamburg, Germany",1978.04.03,1978.0,4.0,3.0,1996.0,...,2009,3,9,64,64,1.0,up,30.0,1105,19

In [121]:
print(f'Merged players and rankings: {players_rankings.shape}')

Merged players and rankings: (232246, 28)

### Merge: `match_scores` and `match_stats` on match_id

In [16]:
stats_scores = pd.merge(match_scores, match_stats, on=["match_id", "match_id"])
stats_scores.sample(5)

,tourney_round_name,winner_name,player_id,winner_seed,match_score_tiebreaks,winner_sets_won,winner_games_won,winner_tiebreaks_won,match_id,match_time,...,winner_second_serve_return_won,winner_second_serve_return_total,winner_break_points_converted,winner_break_points_return_total,winner_service_games_played,winner_return_games_played,winner_return_points_won,winner_return_points_total,winner_total_points_won,winner_total_points_total
2114,2nd Round Qualifying,John-Patrick Smith,sj55,2,76(4) 62,2,13,1,2017-568-sj55-e180,01:43:00,...,18,27,4,12,10,10,41,85,86,159
125,2nd Round Qualifying,Finn Tearney,ta04,8 WC,61 63,2,12,0,2017-301-ta04-n771,00:54:00,...,16,23,4,6,8,8,28,54,61,100
707,Round of 32,Roger Federer,f324,4,63 64,2,12,0,2017-403-f324-d683,01:22:00,...,12,21,2,7,10,9,26,62,70,122
462,Quarter-Finals,Jo-Wilfried Tsonga,t786,2,64 61,2,12,0,2017-496-t786-sd32,01:15:00,...,15,26,4,7,8,9,26,58,61,105
136,Semi-Finals,Rafael Nadal,n409,9,63 57 76(5) 67(4) 64,3,30,1,2017-580-n409-d875,04:56:00,...,29,57,5,13,28,27,66,181,186,365

### Merge: `players_rankings` and `stats_scores` on 'player_id'

In [17]:
tennis_match = pd.merge(players_rankings, stats_scores, on=["player_id", "player_id"])
tennis_match.sample(5)

,player_id,first_name,last_name,flag_code,birthplace,birthdate,birth_year,birth_month,birth_day,turned_pro,...,winner_second_serve_return_won,winner_second_serve_return_total,winner_break_points_converted,winner_break_points_return_total,winner_service_games_played,winner_return_games_played,winner_return_points_won,winner_return_points_total,winner_total_points_won,winner_total_points_total
65742,bd06,Roberto,Bautista Agut,ESP,"Castellon de la Plana, Spain",1988.04.14,1988.0,4.0,14.0,2005.0,...,13,28,4,12,14,14,33,84,80,162
164634,d643,Novak,Djokovic,SRB,"Belgrade, Serbia",1987.05.22,1987.0,5.0,22.0,2003.0,...,18,34,3,4,16,15,29,84,102,194
499004,ma30,Gilles,Muller,LUX,"Luxembourg City, Luxembourg",1983.05.09,1983.0,5.0,9.0,2001.0,...,10,16,3,5,9,8,24,53,66,116
657361,s694,Radek,Stepanek,CZE,"Karvina, Czech Republic",1978.11.27,1978.0,11.0,27.0,1996.0,...,15,27,4,9,9,9,31,66,81,154
172442,d683,Juan Martin,del Potro,ARG,"Tandil, Argentina",1988.09.23,1988.0,9.0,23.0,2005.0,...,11,20,3,5,10,10,26,67,70,128

In [138]:
# tennis_match.shape

In [18]:
tennis_match.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 820734 entries, 0 to 820733
Data columns (total 62 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   player_id                         820734 non-null  object
 1   first_name                        820734 non-null  object
 2   last_name                         820734 non-null  object
 3   flag_code                         820734 non-null  object
 4   birthplace                        820734 non-null  object
 5   birthdate                         820734 non-null  object
 6   birth_year                        820734 non-null  float64
 7   birth_month                       820734 non-null  float64
 8   birth_day                         820734 non-null  float64
 9   turned_pro                        820734 non-null  float64
 10  weight_lbs                        820734 non-null  float64
 11  weight_kg                         820734 non-null  float64
 12  height_ft                         820734 non-null  object
 13  height_inches                     820734 non-null  float64
 14  height_cm                         820734 non-null  float64
 15  handedness                        820734 non-null  object
 16  backhand                          820734 non-null  object
 17  week_title                        820734 non-null  object
 18  week_year                         820734 non-null  int64
 19  week_month                        820734 non-null  int64
 20  week_day                          820734 non-null  int64
 21  rank_text                         820734 non-null  object
 22  rank_number                       820734 non-null  int64
 23  move_positions                    820734 non-null  float64
 24  move_direction                    820734 non-null  object
 25  player_age                        820734 non-null  float64
 26  ranking_points                    820734 non-null  int64
 27  tourneys_played                   820734 non-null  int64
 28  tourney_round_name                820734 non-null  object
 29  winner_name                       820734 non-null  object
 30  winner_seed                       820734 non-null  object
 31  match_score_tiebreaks             820734 non-null  object
 32  winner_sets_won                   820734 non-null  int64
 33  winner_games_won                  820734 non-null  int64
 34  winner_tiebreaks_won              820734 non-null  int64
 35  match_id                          820734 non-null  object
 36  match_time                        820734 non-null  object
 37  match_duration                    820734 non-null  int64
 38  winner_aces                       820734 non-null  int64
 39  winner_double_faults              820734 non-null  int64
 40  winner_first_serves_in            820734 non-null  int64
 41  winner_first_serves_total         820734 non-null  int64
 42  winner_first_serve_points_won     820734 non-null  int64
 43  winner_first_serve_points_total   820734 non-null  int64
 44  winner_second_serve_points_won    820734 non-null  int64
 45  winner_second_serve_points_total  820734 non-null  int64
 46  winner_break_points_saved         820734 non-null  int64
 47  winner_break_points_serve_total   820734 non-null  int64
 48  winner_service_points_won         820734 non-null  int64
 49  winner_service_points_total       820734 non-null  int64
 50  winner_first_serve_return_won     820734 non-null  int64
 51  winner_first_serve_return_total   820734 non-null  int64
 52  winner_second_serve_return_won    820734 non-null  int64
 53  winner_second_serve_return_total  820734 non-null  int64
 54  winner_break_points_converted     820734 non-null  int64
 55  winner_break_points_return_total  820734 non-null  int64
 56  winner_service_games_played       820734 non-null  int64
 57  winner_return_games_played        820734 non-null  int64
 58  winner_return_points_won          820734 non-null  int64
 59  winner_return_points_total        820734 non-null  int64
 60  winner_total_points_won           820734 non-null  int64
 61  winner_total_points_total         820734 non-null  int64
dtypes: float64(10), int64(34), object(18)
memory usage: 394.5+ MB

In [ ]:
# DataFrames

# First
match_scores
match_stats
players_overview
rankings_overview

# Merge
players_rankings
stats_scores

# Final
tennis_match

# Connection to postgreSQL

In [19]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/tennis_predictor"

In [20]:
# database engine
engine = create_engine(db_string)

In [21]:
# Save tennis_match DataFrame to a SQL table
tennis_match.to_sql(name='tennis_matches', con=engine)

# Analytics?

In [141]:
df = tennis_match.sort_values(['winner_games_won'],ascending=False)

In [142]:
df.head(10)

,player_id,first_name,last_name,flag_code,birthplace,birthdate,birth_year,birth_month,birth_day,turned_pro,...,winner_second_serve_return_won,winner_second_serve_return_total,winner_break_points_converted,winner_break_points_return_total,winner_service_games_played,winner_return_games_played,winner_return_points_won,winner_return_points_total,winner_total_points_won,winner_total_points_total
591831,a678,Kevin,Anderson,RSA,"Johannesburg, South Africa",1986.05.18,1986.0,5.0,18.0,2007.0,...,27.0,64.0,6.0,16.0,31.0,30.0,83.0,210.0,215.0,408.0
628056,a678,Kevin,Anderson,RSA,"Johannesburg, South Africa",1986.05.18,1986.0,5.0,18.0,2007.0,...,27.0,64.0,6.0,16.0,31.0,30.0,83.0,210.0,215.0,408.0
15446369,s694,Radek,Stepanek,CZE,"Karvina, Czech Republic",1978.11.27,1978.0,11.0,27.0,1996.0,...,19.0,52.0,5.0,9.0,31.0,31.0,47.0,165.0,179.0,347.0
12447271,n289,Jarkko,Nieminen,FIN,"Masku, Finland",1981.07.23,1981.0,7.0,23.0,2000.0,...,35.0,77.0,5.0,10.0,31.0,31.0,59.0,186.0,196.0,384.0
12447083,n289,Jarkko,Nieminen,FIN,"Masku, Finland",1981.07.23,1981.0,7.0,23.0,2000.0,...,35.0,77.0,5.0,10.0,31.0,31.0,59.0,186.0,196.0,384.0
7057258,h355,Tommy,Haas,GER,"Hamburg, Germany",1978.04.03,1978.0,4.0,3.0,1996.0,...,27.0,51.0,3.0,23.0,32.0,32.0,73.0,229.0,224.0,437.0
15446641,s694,Radek,Stepanek,CZE,"Karvina, Czech Republic",1978.11.27,1978.0,11.0,27.0,1996.0,...,19.0,52.0,5.0,9.0,31.0,31.0,47.0,165.0,179.0,347.0
15354161,s694,Radek,Stepanek,CZE,"Karvina, Czech Republic",1978.11.27,1978.0,11.0,27.0,1996.0,...,19.0,52.0,5.0,9.0,31.0,31.0,47.0,165.0,179.0,347.0
6958366,h355,Tommy,Haas,GER,"Hamburg, Germany",1978.04.03,1978.0,4.0,3.0,1996.0,...,27.0,51.0,3.0,23.0,32.0,32.0,73.0,229.0,224.0,437.0
15446913,s694,Radek,Stepanek,CZE,"Karvina, Czech Republic",1978.11.27,1978.0,11.0,27.0,1996.0,...,19.0,52.0,5.0,9.0,31.0,31.0,47.0,165.0,179.0,347.0

In [152]:
#print(df.iloc[index])

In [155]:
are_duplicates = df.duplicated().any()
are_duplicates = df.duplicated(subset=['player_id','match_id']).any()
are_duplicates

# Duplicates

True